################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment2/.vs/Assignment2/v17/Browse.VC.opendb
